/*
Theme Name: Theme_1
 */

*{
	box-sizing: border-box;
}
body{
	font-family: calibri, sans-serif;
}

#container{
	width: 1024px;
	padding: 20px;
	margin: 0 auto;
}

#main{
	float: left;
	width: 75%;
	padding: 20px;	
}

#sidebar{
	float: right;
	width:25%;
	padding: 20px;
}